<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Users List</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- Bootstrap core CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <!-- My CSS -->
    <link rel="stylesheet" type="text/css" media="screen" href="../styles/userProfile.css" />
    <!-- JQuery CDN -->
    <script
    src="https://code.jquery.com/jquery-3.3.1.js"
    integrity="sha256-2Kok7MbOyxpgUVvAk/HJ2jigOSYS2auK4Pfzbm7uH60="
    crossorigin="anonymous" defer></script>
    <!-- Popper CDN -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous" defer></script>
    <!-- BootStrap CDN -->
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous" defer></script>
    <!-- My JS-->
    <script src="../scripts/userprofile.js" defer></script>
</head>
<body>
    <header>
            <nav class="navbar navbar-expand-lg navbar-light bg-light">
                    <a class="navbar-brand" href="/">Project_HR</a>
                    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarText" aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
                      <span class="navbar-toggler-icon"></span>
                    </button>
                    <div class="collapse navbar-collapse navbar-text" id="navbarText">
                      <ul class="navbar-nav my-2 my-sm-0">
                        <li class="nav-item my-2 my-sm-0">
                          <a id="profileLink" class="nav-link" href="/110">Profile</a>
                        </li>
                        <li class="nav-item">
                          <a class="nav-link" href="search">Search</a>
                        </li>
                    </ul>
                    <ul class="navbar-nav ml-auto">
                        <li class="nav-item">
                            <a id="welcome" class="nav-link" ></a>
                        </li>
                        <li>
                            <a id="logout" class="nav-link" href="https:www.rmahal.com/projects/empdir/back">Logout</a>
                        </li>
                    </ul>
                    </div>
                </nav>
    </header>
        <% images = UserextInfo.map((elem) => {
            return '<div class="backdrop" style="background-image:url('+elem.BackdropURL+')"><div class="crow"><img src="'+elem.PhotoURL+'" width="200px"/>'; 
                    }) -%>
                <p><%- images.join(" ") %></p>
                    <article>
                        <h3><%= userInfo.user[0].FirstName %>
                            <%= userInfo.user[0].LastName %></h3>
                            <div>
                                <div id="editButton" data-id=["<%= userInfo.user[0]._id%>","<%= userInfo.user[0].manager%>"]>
                                </div>
                                <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                                  <div class="modal-dialog" role="document">
                                    <div class="modal-content">
                                      <div class="modal-header">
                                        <h5 class="modal-title" id="exampleModalLabel">Edit Profile</h5>
                                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                          <span aria-hidden="true">&times;</span>
                                        </button>
                                      </div>
                                      <div class="modal-body">
                                          <div class="form-group">
                                                <form>
                                                    <label id="reportees" for="recipient-name" class="col-form-label">Overview Info:</label>
                                                    <input type="text" id="overview" class="form-control" name="overview">
                                                    <p id="reportees">Profile Picture Url</p>
                                                    <input type="text" id="profpic" name="profpic"/>
                                                    <br/>
                                                    <p id="reportees">Backdrop Picture Url</p>
                                                    <input type="text" id="bdpic" name="bdpic"/>
                                                    <br/>
                                                    <br/>
                                                    <br/>
                                                    <input type="submit" value="Upload Info"/>
                                                 </form>
                                          </div>
                                      </div>
                                    </div>
                                  </div>
                                </div>
                            </div>
                    </article>
                    </div>
                </div>
                <div class="infoContainer">
                    <hr />
                    <div>
                        <h3><%= userInfo.user[0].JobTitle %></h3>
                        <h4><%= userInfo.user[0].Org %></h4>
                        <br>
                    </div>
                    <div>
                        <% overview = UserextInfo.map((elem) => {
                            return '<p id="otext">' + elem.OverviewText + '</p>';
                        }) -%>
                        <h4>Overview:</h4><h6> &nbsp;<%- overview.join(" , &nbsp; ") %></h6>
                    </div>
                    <hr />
                    <div class ="flexin">
                    <div class="tagDiv">
                        <% tags = TagsInfo.map((elem) => {
                            return '<button type="button" class="btn btn-info">' + elem.tag.TagName + '</button>';
                        }) -%>
                        <h5>Tags:</h5><h5> &nbsp;<%- tags.join("&nbsp;") %></h5>
                    </div>
                    <div class="contactDiv">
                        <h5>Contact:</h5>
                        <p>Phone: <%= userInfo.user[0].Phone %></p>
                        <p>Email: <%= userInfo.user[0].Email %></p>
                        <p>Address: <%= userInfo.user[0].Address %></p>
                    </div>
                    <div class="additionalDiv">
                        <% contacts = contactsInfo.map((elem) => {
                            return '<a href="https://www.'+elem.Value+'">' + elem.Label + ' ' + elem.Value + '</a><br/>';
                        }) -%>
                        <h5>Additonal Contacts:</h5><p>&nbsp;<%- contacts.join("&nbsp;") %></p>
                    </div>
                 </div>
                 <hr />
            </div>

            <h2 id="reportees">Chain of command</h2>
            <% for(let i = userInfo.chainofcommand.length-1 ; i >= 0; i--) { %>
                <div class="card">
                    <!-- <img src="img_avatar.png" alt="Avatar" style="width:100%"> -->
                    <a href="<%= userInfo.chainofcommand[i]._id%>">
                        <div class="container">
                            <h4><b><%= userInfo.chainofcommand[i].FirstName %> <%= userInfo.chainofcommand[i].LastName %></b></h4> 
                            <p><%= userInfo.chainofcommand[i].JobTitle %></p> 
                        </div>
                    </a>
                </div>
                <div id="arrow">
                    <% if(i>0){ %>
                        <p>&darr;</p>   
                    <% } %>
                </div>
                <% } %>
        <% if(userInfo.underlings.length !== 0){ %>
        <h3 id="reportees">Reportees</h3>
        <% } %>
        <div class="underlings">
            <% entries = userInfo.underlings.map((elem, index) => {
                    return '<div class="cardrow"><a href="'+ elem._id + '"><div class="container"><h4><b>' + elem.FirstName + ' ' + elem.LastName + '</b></h4><p>' + elem.JobTitle + '</p></div></a></div>';
                }) -%>
            <p><%- entries.join(" <p class='mdash'>&mdash;</p> ") %></p>
        </div>

            
    <div class="userList">
    </div>
    <footer class="page-footer font-small bg-light">
        <div class="footer-copyright text-center py-3">© 2018 Copyright:
          <a href="/">PROJECT_HR, Raj Mahal</a>
        </div>
      </footer>
</body>
</html>