<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Users List</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <script
    src="https://code.jquery.com/jquery-3.3.1.js"
    integrity="sha256-2Kok7MbOyxpgUVvAk/HJ2jigOSYS2auK4Pfzbm7uH60="
    crossorigin="anonymous" defer></script>
</head>
<body>
    <header>
        <nav>
        </nav>
        
        <h1>User DB:</h1>
        <h4>Name: <%= userInfo.user[0].FirstName %></h4>
        <h4>Job Tite: <%= userInfo.user[0].JobTitle %></h4>
        <h4>Phone #: <%= userInfo.user[0].Phone %></h4>
        <h4>Manager: 
            <a href= <% typeof userInfo.chainofcommand[1] !='undefined' ?  "/"+userInfo.user[0].FirstName : 'hi' %>>
            </a>
        </h4>

        <h4>Contact DB:  <%= contactsInfo[1].Label %> , <%= contactsInfo[1].Value %> </h4>

        <h4>Userext DB:  Overview Text:, <%= UserextInfo[0].OverviewText %> </h4>

        <h4>Tags DB:  <%= TagsInfo[0].tag.TagName %> , <%= TagsInfo[1].tag.TagName %> </h4>
            
    </header>
    <div class="userList">
    </div>
</body>
</html>