<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <meta name="google-signin-client_id" content="792828454552-med48hcu42djec9q4c376du88id6hc72.apps.googleusercontent.com">
    <title><%= userInfo.chainofcommand[0].FirstName %> <%= userInfo.chainofcommand[0].LastName %> Profile</title>
    <!-- Bootstrap core CSS -->
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
   <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.4.1/css/all.css" integrity="sha384-5sAR7xN1Nv6T6+dT2mhtzEpVJvfS3NScPQTrOxhwjIuvcA67KV2R5Jz6kr4abQsz" crossorigin="anonymous">
    <!-- My CSS -->
    <link rel="stylesheet" type="text/css" media="screen" href="../styles/userProfile.css" />
    <!-- JQuery CDN -->
    <script src="https://code.jquery.com/jquery-3.3.1.js" integrity="sha256-2Kok7MbOyxpgUVvAk/HJ2jigOSYS2auK4Pfzbm7uH60=" crossorigin="anonymous" defer></script>
    <script
src="https://maps.googleapis.com/maps/api/js?key=AIzaSyB8qHzIw_3UlkxHTxSfXEy5o0hTl-vCRyk" async defer>
</script>
    <!-- Popper CDN -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous" defer></script>
     <!-- Bootstrap core JavaScript -->
    <script src="https://code.jquery.com/jquery-3.3.1.min.js" integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=" crossorigin="anonymous" defer></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous" defer></script>
    <script src="https://apis.google.com/js/platform.js?onload=onLoad" async defer></script>  
    <!-- My JS-->
    <script src="../scripts/userprofile.js" defer></script>
  </head>

  <body>
    <!-- Navigation -->
    <nav class="navbar navbar-expand-lg navbar-light bg-light fixed-top">
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <a class="navbar-brand" href="../../back"><img alt="logo" src="../img/logo.jpg"></a>
         
 <div class="collapse navbar-collapse" id="navbarNavDropdown">
     
      <ul class="navbar-nav mr-auto">
    
    <form class="form-inline custom-search">
               <i class="fas fa-search" id="searchButton"></i>
      <input class="form-control mr-sm-2 search-box" type="search"  id="searchBar" placeholder="Type to search ..." aria-label="Search">
    </form>
        </ul>
        <ul class="navbar-nav">  
          <!-- <li class="nav-item">
          <a class="nav-link" href="#"><i class="fas fa-bell alet-icon"></i> Notifications</a>
        </li> -->
        <li class="nav-item dropdown">
                      <a class="nav-link dropdown-toggle" href="http://example.com" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        <img class="avtar googleImg" src=""><span id="fullname"></span>
                      </a>
                      <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                          <a class="dropdown-item" id="editProfile" href="../editProfile">View my settings</a>
                          <a class="dropdown-item" onclick="logout()">Logout</a>
                      </div>
                  </li>
        
          </ul>
          </div>  
          
    
</nav>

    <!-- Page Content -->
       
    <div class="container">
      <div class="row">
        <div class="col-lg-12 text-left">
            <nav class="custom-breadcrumb" aria-label="breadcrumb">
              <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="" class="inactiveLink">Board of Directors </a></li>
                    <% for(let i = userInfo.chainofcommand.length-1 ; i >= 0; i--) { %>
                        <li class="breadcrumb-item"><a href="<%= userInfo.chainofcommand[i]._id%>">
                                    <%= userInfo.chainofcommand[i].FirstName %> <%= userInfo.chainofcommand[i].LastName %>
                            </a></li>
                        <% } %>
              </ol>
            </nav>
        </div>
      </div>
    </div>
      
    <div class="cover-pic" style="background-image:url('../<%= UserextInfo[0].BackdropURL %>');"></div>
      
    <div class="container">
      <div class="row relative_row">
        <div class="col-lg-9 text-left">
            <div class="row profile-part-1">
               <div class="col-lg-3 col-md-4 col-sm-5"><div class="profile-pic"><img src="../<%= UserextInfo[0].PhotoURL %>"  ></div> </div>
                <div class="col-lg-9 col-md-8 col-sm-7">
                   <h1 class="employee-name">
                      <span class="firstname"><%= userInfo.user[0].FirstName %></span>
                      <span class="lastname"><%= userInfo.user[0].LastName %></span>
                    </h1>
                    <div class="designation"><%= userInfo.user[0].JobTitle %>, <%= userInfo.user[0].Org %></div>
                    <div class="more-deatils">
                       <span class="flag"><img src="../img/united-states.svg"></span> 
                       <span class="time"><%= userInfo.user[0].State %>, <%= userInfo.user[0].CountryCode %>,  <span id="timeZone" data-id="<%= userInfo.user[0].TimeZone %>"></span></span>  
                     </div>
                </div>
            </div>
            <div class="row profile-part-2">
               <div class="col-lg-12">
                   <h2 class="section-tittle">
                      About
                   </h2>
                    <p class="para-text"><%= UserextInfo[0].OverviewText %></p>
                </div>
            </div>


            <% if(managerImage.length > 0){ %>
            <div class="row profile-part-3">
               <div class="col-lg-12">
                   <h2 class="section-tittle">
                      Manager
                   </h2>
                   <ul class="list-unstyled">
                      <li class="media">
                        <a href="<%= managerImage[0] %>">
                        <img class="mr-3 rounded-circle imgsizeManager" src="../<%= managerImage[1] %>" alt="Generic placeholder image">
                        <div class="media-body">
                          <h5 class="mt-0 mb-1"><%= userInfo.managerInfo[0].FirstName %> <%= userInfo.managerInfo[0].LastName %></h5>
                        </a>
                          <span><%= userInfo.managerInfo[0].JobTitle %></span><br>
                            <span><%= userInfo.managerInfo[0].Org %></span>
                        </div>
                      </li>
                    </ul>
                </div>
            </div>
            <% } %>
            
        </div>
        <div class="col-lg-3 text-left sidebar">
            
            <div class="card card1">
                <h3>Contact</h3>
                <ul class="list-unstyled">
                      <li class="media">
                          <a href="mailto:<%= userInfo.user[0].Email %>"><img class="mr-3" src="../img/email.svg" alt="Generic placeholder image"></a>
                        <div class="media-body">
                          <h5 class="mt-0 mb-1"><a href="mailto:<%= userInfo.user[0].Email %>"><%= userInfo.user[0].Email %></a></h5>
                        </div>
                      </li>
                    <li class="media">
                        <a href="tel:1<%= userInfo.user[0].Phone %>"><img class="mr-3" src="../img/phone.svg" alt="Generic placeholder image"></a>
                        <div class="media-body">
                          <h5 class="mt-0 mb-1"><a href="tel:1<%= userInfo.user[0].Phone %>" >+1 <%= userInfo.user[0].Phone %></a></h5>
                        </div>
                      </li>
                    <li class="media">
                      <a href="tel:1<%= userInfo.user[0].Phone %>"><img class="mr-3" src="../img/mobile.svg" alt="Generic placeholder image"></a>
                        <div class="media-body">
                          <h5 class="mt-0 mb-1"><a href="tel:1<%= userInfo.user[0].Phone %>" >+1 <%= UserextInfo[0].MobilePhone %></a></h5>
                        </div>
                      </li>
                    </ul>
             </div>
            <% if(contactsInfo.length > 0){ %>
            <div class="card card2">
                <h3>More Info</h3>
                <% for(let i = 0 ; i < contactsInfo.length; i++) { %>
                <p><strong><%= contactsInfo[i].Label %> :</strong> <%- contactsInfo[i].Value %></p>
                <% } %>
             </div>
             <% } %>
            <div class="card card3">
                <h3>Address</h3>
                <a href="https://maps.google.com/?q=<%= userInfo.user[0].Street %>,<%= userInfo.user[0].City %>,<%= userInfo.user[0].State %><%= userInfo.user[0].ZipCode %>"><p><%= userInfo.user[0].Street %>, <%= userInfo.user[0].City %>, <%= userInfo.user[0].State %> <%= userInfo.user[0].ZipCode %></p></a>
                <div id="map"></div>
             </div>
            <% if(TagsInfo.length > 0){ %>
            <div class="card card4">
                <h3>Tags</h3>
                <% for(let i = 0 ; i < TagsInfo.length; i++) { %>
                  <% if(TagsInfo[i].tag !== null){ %>
                    <a class="tags" href="../tags/<%= TagsInfo[i].tag._id %>"><%= TagsInfo[i].tag.TagName %> </a>
                  <% } %>
                <% } %>
             </div>
             <% } %>
             <br>
             <div class="card card4" style="text-align:center;">
               <p>Download Contact</p>
              <a href="../vcf/<%= userInfo.user[0]._id %>.vcf"><img src="../img/vcf.svg" height="40" width="40" /></a>
            </div>
            
        </div>
        <div class="col-lg-9">
            <% if(userInfo.underlings.length > 0){ %>
          <div class="row profile-part-4">
            <div class="col-lg-12"> 
                   <h2 class="section-tittle">
                      Reports
                        <nav class="custom-breadcrumb" aria-label="breadcrumb">
                          <ol class="breadcrumb">
                            <li class="breadcrumb-item active"><a ><%= userInfo.underlings.length %> Directs</a></li>
                            <!-- <li class="breadcrumb-item active"><a ><%= userInfo.underlings.length %> Total </a></li>
                              <li class="breadcrumb-item active" aria-current="page">Org Chart</li> -->
                          </ol>
                        </nav>
                   </h2>
                </div>
                <div style="margin:0px;" class="row">
                    <div>
                    <div>
                        <ul class="list-unstyled" id="ulDirects">
            <% for(let i = 0 ; i < userInfo.underlings.length; i++) { %>
                        <li class="my-4" id="liDirects">
                            <a href="<%= allImages[i][0] %>">
                            <img class="align-self-center mr-3 rounded-circle imgsize" src="../<%= allImages[i][1] %>" alt="placeholder image">
                            <div class="media-body">
                          <h5 class="mt-0 mb-1"><%= userInfo.underlings[i].FirstName %> <%= userInfo.underlings[i].LastName %></h5>
                        </a>
                        </li>
                        <% } %>
                        </ul>
                      </div>
                            </div>
                        </div>
                      <% } %>
                    </div>

                </div>
            <!-- </div> -->
            <% if(userInfo.hrInfo.length>0){ %>
            <div class="row profile-part-5">
               <div class="col-lg-12">
                   <h2 class="section-tittle">
                      Additional Information
                   </h2>
                   <p class="additional-info"><span class="span1">HR Manager</span><span class="span2"><a href="<%= userInfo.hrInfo[0]._id %>"><%= userInfo.hrInfo[0].FirstName %> <%= userInfo.hrInfo[0].LastName %> </a> </span></p>
                </div>
                <% } %>
            </div>
          </div>  
        </div>
      </div> 
      
      <footer class="footer">
          <div class="container-fluid">
             <div class="row">
                 <div class="col-lg-4 text-left copyright">
                 <ul class="list-inline">
  <li class="list-inline-item">© 2018 ACME</li>
</ul>
                 
                 </div>
                 <div class="col-lg-4 text-center socialmedia">
                    <ul class="list-inline">
  <!-- <li class="list-inline-item"><a href="#"><img src="assets/images/Facebook.svg"></a></li>
  <li class="list-inline-item"><a href="#"><img src="assets/images/Instagram.svg"></a></li>
  <li class="list-inline-item"><a href="#"><img src="assets/images/Twitter.svg"></a></li> -->
</ul>
                 </div>
                 <div class="col-lg-4 text-right otherlinks">
                 <ul class="list-inline">
  <!-- <li class="list-inline-item">Privacy Policy</li>
  <li class="list-inline-item">Terms of Use</li> -->
</ul>
                 </div>
              </div>
          </div>
          <span id="id" data-id="<%= userInfo.user[0]._id %>"></span>
          <span id="firstName" data-id="<%= userInfo.user[0].FirstName %>"></span>
          <span id="lastName" data-id="<%= userInfo.user[0].LastName %>"></span>
          <span id="jobTitle" data-id="<%= userInfo.user[0].JobTitle %>"></span>
          <span id="workPhone" data-id="<%= userInfo.user[0].Phone %>"></span>
          <span id="organization" data-id="<%= userInfo.user[0].Org %>"></span>
          <span id="cellPhone" data-id="<%= userInfo.user[0].Phone %>"></span>
          <span id="email" data-id="<%= userInfo.user[0].Email %>"></span>
          <span id="street" data-id="<%= userInfo.user[0].Street %>"></span>
          <span id="city" data-id="<%= userInfo.user[0].City %>"></span>
          <span id="state" data-id="<%= userInfo.user[0].State %>"></span>
          <span id="zipCode" data-id="<%= userInfo.user[0].ZipCode %>"></span>
          <span id="photo" data-id="<%= UserextInfo[0].PhotoURL %>"></span>
          <span id="countryCode" data-id="<%= userInfo.user[0].CountryCode %>"></span>




      </footer>
      <script>
        // Initialize and add the map
        function initMap() {
          // The location of Uluru
          var uluru;
          let CA = "CA"
          let NY = "NY"
          var state = <%= userInfo.user[0].State %>;
          console.log("state")
          console.log(state)
          if(state === "CA"){
            uluru = {lat: 37.3382, lng: -121.8863};
          }else if(state === "NY"){
            uluru = {lat: 40.730610, lng: -73.935242}
          }
          console.log(uluru)
          // The map, centered at Uluru
          var map = new google.maps.Map(
              document.getElementById('map'), {zoom: 7, center: uluru});
          // The marker, positioned at Uluru
          var marker = new google.maps.Marker({position: uluru, map: map});
        }
        initMap()
      </script>
      <script>
          function signout() {
            onLoad();
            if(gapi.auth2){
              console.log("we now gapi")
              var auth2 = gapi.auth2.getAuthInstance();
              auth2.signOut().then(function () {
                console.log('User signed out.');
                localStorage.clear();
                window.location.assign("../../back/");

              });
              window.location.assign("../../back/");
            }
          }

          function onLoad() {
            gapi.load('auth2', function() {
              gapi.auth2.init();
            });
            return true
          }
        </script>
        <script>
          function logout() {
            //localStorage.clear();
            signout()
            //window.location.assign("/");
          }
        </script>
  </body>

</html>
